%p
  Edit
  %code lib/sitemap.rb
  \- it's a
  %a(href="http://www.sinatrarb.com/") Sinatra
  app. You can keep it running while you work, it detects changes so you can check them in a browser as you make them. The routes should match the path of the HTML pages of the static site you're creating. Like this page right now goes by <code>/howto/1.html</code> and the previous one was <code>/index.html</code>.
  
%p
  Templates are in the
  %code views
  directory. The ones for this example are written in <a href="http://haml-lang.com/">Haml</a> and <a href="http://sass-lang.com/">Sass</a>, as favoured by some fussy people I know.
  
%p
  Anything in the
  %code public
  directory (things like images and javascripts) will be copied as is when you generate the static site.
  
%p
  Once you're done creating content, running <code>rake</code> will output the static HTML site in a directory called <code>out</code>. That's it, upload the contents of <code>out</code> to a server and bye.