!!! XML
!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title :-(
    %link(rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/css/screen.css")
    %link(rel="stylesheet" type="text/css" charset="utf-8" media="all" href="http://fonts.googleapis.com/css?family=IM+Fell+English")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %script(type="text/javascript" src="/js/app.js")
  %body
    #content
      = yield