<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>HTML Blues</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
    <link rel="stylesheet" type="text/css" charset="utf-8" media="all" href="/css/screen.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"/>
    <script type="text/javascript" src="/js/app.js"/>
  </head>
  <body>
    <div id="site">
      <h1><a href="/index.html" rel="home">htmlblues</a></h1>
      <%= yield %>
      <div id="footer">
        Contact <a href="http://twitter.com/nutrun">@nutrun</a> or <a href="http://github.com/nutrun">github.com/nutrun</a>
      </div>
    </div>
  </body>
</html>
