#site {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 14px;
  width: 50%;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
  border-bottom: solid 4px red;
  text-align: right;
}

a {
  text-decoration: none;
  color: #0000FF;
}

p {
  margin-bottom: 1em;
  padding-left: 1em;
}

code, pre {
  font-family: "Courier New";
  background-color: #FFFFCC;
}

#footer {
  font-size: 0.8em;
  text-align: right;
}